1. Indexing Strings

In [4]:
s = "PYTHON"
#a) first character
s[0]

'P'

In [5]:
#b) last character
s[5]

'N'

In [8]:
#c) the string 'H'
s[3]

'H'

In [9]:
#d) the type of 'H'
type(s[3])

str

2. Indexing Tuples

In [10]:
t = (10, 20, 30, 40, 50, 60)
#a) the first element
t[0]

10

In [11]:
#b) the third element
t[2]

30

In [12]:
#trying to set the 3rd element
t[2] = 30.4

TypeError: 'tuple' object does not support item assignment

3. Indexing Lists and Lists of Lists

In [13]:
lst = [5, 15, 25, [35, 45, [55, 65, 75], 85], 95]
#a) the first element
lst[0]

5

In [14]:
#b) the last element
lst[4]

95

In [16]:
#c) the sublist
lst[3][2]

[55, 65, 75]

In [17]:
#d) the number 65
lst[3][2][1]

65

4. List of Lists as Arrays

In [20]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
#a) the second row
matrix[1]

[4, 5, 6]

In [21]:
#b) the third row
matrix[2]

[7, 8, 9]

In [24]:
#c) changing center element to 0
matrix[1][1] = 0 
print(matrix)

[[1, 2, 3], [4, 0, 6], [7, 8, 9]]

5. Using Sets

In [27]:
A = [1, 2, 2, 3, 4, 4, 5] 
B = [4, 5, 5, 6, 7, 7,  8]
#a) changing A and B to sets
set_A = set(A)
set_B = set(B)

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}

In [28]:
#b) union of both sets
set_A | set_B

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
#c) intersection of both sets
set_A & set_B

{4, 5}

In [30]:
#d) elements in A but not in B
set_A - set_B

{1, 2, 3}

In [31]:
#e) elements in A or B but not both
set_A ^ set_B

{1, 2, 3, 6, 7, 8}

6. Working with Dictionaries

In [41]:
stock = {
    "apple": 50,
    "banana": 25,
    "orange": 30,
    "grape": 45
}
#a) stock of apple
stock['apple']

50

In [42]:
#b) adding stock of pear
stock['pear'] = 40

In [43]:
#c) updating stock of banana
stock['banana'] = 30

In [44]:
#d) removing orange from stock
del stock['orange']